<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <!-- Logo aligned to the left -->
    <a class="navbar-brand" href="#">My Shop</a>

    <!-- Hamburger icon for small screens -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation links centered -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mx-auto">
                <a class="nav-link active" aria-current="page" routerLink="main">Home</a>
                <a class="nav-link" *ngIf="!authService.isLoggedIn()" routerLink="login">Login</a>
                <a class="nav-link" *ngIf="!authService.isLoggedIn()" routerLink="signup">Sign Up</a>
                <a class="nav-link" *ngIf="authService.isLoggedIn()"  (click)="logout()">Logout</a>
                <a class="nav-link" *ngIf="authService.isLoggedIn()" routerLink="cart">Cart</a>
                <a class="nav-link" *ngIf="authService.isLoggedIn()" routerLink="checkout">Checkout</a>
<!--                <a class="nav-link" *ngIf="authService.isLoggedIn()" routerLink="error">Profile</a>-->
<!--                <a class="nav-link" *ngIf="authService.isLoggedIn()" routerLink="error">Admin DashBoard</a>-->
      </div>
    </div>
  </div>
</nav>
