<div class="container mt-5">
  <h1 class="mb-4">Shopping Cart</h1>
 <!-- Display success message if cart is updated -->
 <div *ngIf="successMessage" class="alert alert-success" role="alert">
  {{ successMessage }}
</div>
<!-- Display "Cart is empty" warning when there are no items in the cart -->
<div *ngIf="isCartEmpty()" class="alert alert-warning" role="alert">
  Cart is empty.
</div>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <!-- Iterate over the cart items dynamically -->
    <tr *ngFor="let item of cartItems">
      <td>
        <img [src]="item.product.imageUrl" class="img-fluid" [alt]="item.product.name" style="max-width: 100px;">
      </td>
      <td>{{ item.product.name }}</td>
      <td>${{ item.product.discountedPrice.toFixed(2) }}</td>
      <td>
        <input type="number" class="form-control" [(ngModel)]="item.quantity" (input)="validateQuantity(item)" [min]="1">
       <!-- Show a warning message if the quantity exceeds stock -->
       <div *ngIf="warningMessages[item.product.id]" class="text-danger mt-1">
        {{ warningMessages[item.product.id] }}
      </div>
      </td>
      <td>${{ (item.product.discountedPrice * item.quantity).toFixed(2) }}</td>
      <td>
        <button class="btn btn-danger btn-sm" (click)="removeFromCart(item)">Remove</button>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="row" *ngIf="!isCartEmpty()">
    <div class="col-md-6">
      <button class="btn btn-primary" [disabled]="hasWarnings()" (click)="updateCart()">Update Cart</button>
      <button class="btn btn-danger ml-2" (click)="clearCart()">Clear Cart</button>
    </div>
    <div class="col-md-6 text-right">
      <h3>Total: ${{ calculateTotal() }}</h3>
      <button class="btn btn-success"  [disabled]="hasWarnings()" (click)="handleCheckout()">Proceed to Checkout</button>
    </div>
  </div>
</div>
